<ion-view view-title="MyFlightBook">
  <ion-content id="startseite" scroll="false">


<!--      <div class="row row-no-padding">
        <div id="flugEingeben" class="col startseiteBox" ng-click="eingabe(true, 'app.flug')">Flug eingeben</div>
        <div id="flugUebersicht" class="col startseiteBox" ng-click="eingabe(false, 'app.flug')">Flügeübersicht</div>
      </div>

      <div class="row row-no-padding">
        <div id="flugzeugEingeben" class="col startseiteBox" ng-click="eingabe(true, 'app.flugzeug')">Flugzeug eingeben</div>
        <div id="flugzeugUebersicht" class="col startseiteBox" ng-click="eingabe(false, 'app.flugzeug')">Flugzeugübersicht</div>
      </div>

      <div class="row row-no-padding">
        <div id="flughafenEingeben" class="col startseiteBox" ng-click="eingabe(true, 'app.flughafen')">Flughafen eingeben</div>
        <div id="flughafenUebersicht" class="col startseiteBox" ng-click="eingabe(false, 'app.flughafen')">Flughafenübersicht</div>
      </div>-->

    <br>

    <div class="row row-no-padding">
      <div class="col col-20 startseiteBoxenIcon"></div>
      <div class="col startseiteBoxen" ng-click="eingabe(true, 'app.flug')">Flug eingeben</div>
    </div>

    <div class="row row-no-padding">
      <div class="col col-20 startseiteBoxenIcon"></div>
      <div class="col startseiteBoxen" ng-click="eingabe(false, 'app.flug')">Flügeübersicht</div>
    </div>

    <div class="row row-no-padding">
      <div class="col col-20 startseiteBoxenIcon"></div>
      <div class="col startseiteBoxen" ng-click="eingabe(true, 'app.flugzeug')">Flugzeug eingeben</div>
    </div>

    <div class="row row-no-padding">
      <div class="col col-20 startseiteBoxenIcon"></div>
      <div class="col startseiteBoxen" ng-click="eingabe(false, 'app.flugzeug')">Flugzeugübersicht</div>
    </div>

    <div class="row row-no-padding">
      <div class="col col-20 startseiteBoxenIcon"></div>
      <div class="col startseiteBoxen " ng-click="eingabe(true, 'app.flughafen')">Flughafen eingeben</div>
    </div>

    <div class="row row-no-padding">
      <div class="col col-20 startseiteBoxenIcon"></div>
      <div class="col startseiteBoxen" ng-click="eingabe(false, 'app.flughafen')">Flughafenübersicht</div>
    </div>






  </ion-content>
</ion-view>
